<% render '/shared/content_title', title:'Humans' %>


<% @users.each do |user| %>
<div class='well'>
  <p>
    <b>Name:</b> <%= user.first_name  %> <%= user.last_name %>
  </p>

  <p>
    <b>Email:</b> <%= user.email %><br>
  </p>
  <p>
    <b>Location:</b> <%= user.location %><br>
  </p>
</div>

<% end %>
